.container {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards-list {
  z-index: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
